<div class="current w m o_f">

        <span>当前位置</span>

        <a href="http://www.y-peng.com" target="_blank">育鹏专升本教育信息网</a> &gt;

        <a href="http://www.y-peng.com/list-38-1.html">成人高考</a>
    </div>
<div class="w m o_f">
        <!-- 幻灯片 -->

        <div class="scrollpic f_l" style="width:496px; margin-left:0;">

            <div id="playBox" style="width:496px;">

                <div class="pre"></div>

                <div class="next"></div>

                <div class="smalltitle" style="width: 100%">

                    <ul><li class="thistitle"></li></ul>

                </div>

                <div class="tempWrap" style="overflow:hidden; position:relative; width:496px"><ul class="oUlplay" style="width: 496px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">

                    
                    
                    
                    <li style="float: left; width: 496px;"><a href="http://www.y-peng.com/" target="_blank" onclick=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526040302439.jpg" width="496" height="361"></a></li>

                   
                   
                </ul></div>

            </div>

        </div>



        <!-- 考试动态 -->

        <div class="f_l" style="width: 362px;margin-left:15px;">

            <div class="tabbox">

                <div class="title">

                    <ul class="title-list">

                        <li class="on">考试动态</li>

                        <li>考试科目</li>

                        <li>考试报名</li>

                        <a href="http://www.y-peng.com/list-66-1.html" title="更多成人高考考试动态" class="more f_r">更多</a>

                        <a href="http://www.y-peng.com/list-67-1.html" title="更多成人高考考试科目" class="more f_r none">更多</a>

                        <a href="http://www.y-peng.com/list-68-1.html" title="更多成人高考考试报名" class="more f_r none">更多</a>

                    </ul>

                </div>

            </div>

            <div class="product-wrap o_f">

                <!--1-->

                <div class="product show">

                    <ul class="ycnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-66-2683-1.html" target="_blank">成人自考学费</a><span>2016-11-09</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-66-623-1.html" target="_blank">成人高等学校招生简章</a><span>2016-04-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-66-622-1.html" target="_blank">成人高考简介</a><span>2016-04-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-66-620-1.html" target="_blank">成人高考免试入学政策</a><span>2016-04-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-66-619-1.html" target="_blank">成人高考培训班该如何选择</a><span>2016-04-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-66-616-1.html" target="_blank">各省成人高考费用</a><span>2016-04-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-66-583-1.html" target="_blank">成人高考考试技巧</a><span>2016-04-28</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-66-581-1.html" target="_blank">成人高考考生随意换专业不可取</a><span>2016-04-28</span></li>

                        
                        
                    </ul>

                </div>

                <!--2-->

                <div class="product">

                    <ul class="ycnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-67-636-1.html" target="_blank">成人高考科目分数</a><span>2016-05-03</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-67-612-1.html" target="_blank">成人高考考试科目</a><span>2016-04-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-67-510-1.html" target="_blank">成考高升专考试科目</a><span>2016-04-27</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-67-505-1.html" target="_blank">成人高考高升本考试科目</a><span>2016-04-27</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-67-441-1.html" target="_blank">成人高考本科考试科目</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-67-409-1.html" target="_blank">成人高考考试科目</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-67-399-1.html" target="_blank">成人大专升本科考试科目</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-67-100-1.html" target="_blank">成人高考考试科目都有哪些</a><span>2016-04-13</span></li>

                        
                        
                    </ul>

                </div>

                <!--3-->

                <div class="product">

                    <ul class="ycnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-68-528-1.html" target="_blank">成人高考本科招生</a><span>2016-04-27</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-68-491-1.html" target="_blank">高中文凭也可以报考成人高考大专</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-68-488-1.html" target="_blank">成人本科自考报名条件及流程</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-68-486-1.html" target="_blank">成人自考报名时间</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-68-483-1.html" target="_blank">成考自考报名时间</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-68-477-1.html" target="_blank">2016年成人教育自考报名时间一览表</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-68-461-1.html" target="_blank">成人高考春季报名时间问题汇总</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-68-435-1.html" target="_blank">成人高考本科报名条件</a><span>2016-04-26</span></li>

                        
                        
                    </ul>

                </div>

            </div>

        </div>



        <div class="f_r">

            <div class="remind" style="margin-top:0;">

                <h2>2016年成人高考考试时间提醒</h2>

                <p class="Exam_name f_l">考试名称</p>

                <p class="Exam_time f_r">开考日期</p>

                <div class="c_b o_f">

                    <ul class="remindul">

                                                                        
                        <li><a href="http://www.y-peng.com/show-106-80-1.html" target="_blank">2016年海南成人高考时间</a><span>2016-10-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-79-1.html" target="_blank">2016年宁夏成人高考时间</a><span>2016-10-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-78-1.html" target="_blank">2016年四川成人高考时间</a><span>2016-10-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-77-1.html" target="_blank">2016年青海成人高考时间</a><span>2016-10-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-76-1.html" target="_blank">2016年广东成人高考时间</a><span>2016-10-29</span></li>

                        
                        
                    </ul>

                </div>

            </div>

        </div>

        <div style="height: 15px;width: 100%;clear: both;"></div>

    </div>

<div class="w m">

        <!-- 远程教育项目概况 -->

        <div class="tabtitle o_f">

            <div class="tabtitle_l f_l"></div>

            <div class="tabtitle_c f_l">

                <h2>成人高考项目概况</h2>

            </div>

            <div class="tabtitle_r f_l"></div>

        </div>

        <div class="f_l remotely">

            <div class="f_l" style="height: 310px;width: 496px;margin-right: 20px">

                                                                <a href="http://www.y-peng.com/list-38-1.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0405/20160405112244735.jpg" alt="成人高考" width="496" height="310"></a>
                                
            </div>

            <div>

                <h3>成人高考简介</h3>
<p>成人高考，全称成人高等学校招生全国统一考试，是教育部核准的国民教育系列高等学历教育的一种。它以参加全国招生统一入学考试为主，一般需要参加网上报名，按规定网上缴费，现场确认之后达到报考要求的话，可参加每年的十月二十六日和二十七日举行全国统一考试。目前成人高考方式主要分为专科起点升本科、高中起点升专科和高中起点升本科三个层次。学生考试通过录取入学后的学习形式包括函授、业余和脱产三种学习形式。毕业的时候审核符合要求的话，由各高等院校和国家教委颁发国家承认学历的专（本）科毕业证书，毕业证书国家承认的大学专（本）毕业证书具有同等效力，而且在中国高等教育学生信息网电子注册。本科学历的成人高考学生，达到一定的条件还可以申请本科学士学位。</p>
            </div>

        </div>

        <div class="f_r advantage">

            <h3 class="m_top">成人高考优势</h3>
<ul class="o_f">
	<li>
		<span class="spancolor1">1</span>
		<p>成人高考为国家级考试，学历认可</p>
	</li>
	<li>
		<span class="spancolor2">2</span>
		<p>为适应市场，专业设置新颖</p>
	</li>
	<li>
		<span class="spancolor3">3</span>
		<p>学习形式多样化：脱产、业余等</p>
	</li>
	<li>
		<span class="spancolor4">4</span>
		<p>入学比统招容易</p>
	</li>
</ul>
        </div>

    </div>

<div class="w m m_top">

        <div class="f_l " style="width:873px;">

            <!-- 简章筛选 -->

            <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>成人高考-招生简章筛选</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

            </div>

            <div class="selectNumberScreen">

                <div class="hasBeenSelected">

                    <dl>

                      <dt>您已选择：</dt>

                      <dd style="DISPLAY: none" class="clearDd">

                      <div class="clearList"><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div></div>

                      <div style="DISPLAY: none" class="eliminateCriteria">清除筛选条件</div>

                    </dd></dl>

                </div>

                <div id="selectList" class="screenBox screenBackground" typesof="3373">

                    <dl class="listIndex">

                        <dt>学校：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                            
                        </dd>

                        <div class="smore">

                            <span class="show-more">更多 +</span>

                            <span class="show-less">收起 -</span>

                        </div>

                    </dl>

                    <dl class="listIndex">

                        <dt>专业：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                            
                        </dd>

                        <div class="smore">

                            <span class="show-more">更多 +</span>

                            <span class="show-less">收起 -</span>

                        </div>

                    </dl>

                    <dl class="listIndex">

                        <dt>地区：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                            
                        </dd>

                        <div class="smore">

                            <span class="show-more">更多 +</span>

                            <span class="show-less">收起 -</span>

                        </div>

                    </dl>

                    <dl class="listIndex">

                        <dt>层次：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                            
                            <a class="" href="javascript:;" linkageid="3367" linkagename="level"><em>专升本</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3368" linkagename="level"><em>高升专</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3369" linkagename="level"><em>高升本</em></a>

                            
                            
                        </dd>

                    </dl>

                </div>

            </div>

            <!-- 筛选结果 -->

            <div class="resultbox">

                <span class="f_l">筛选结果</span>

                <span class="f_r">符合筛选条件的成人高考招生简章共计 <em id="howNum">0</em> 条</span>

            </div>

            <div class="x_table">

                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
            </div>



            <!-- 分数线 -->

            <div class="f_l" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">分数线</li>

                            <li>成绩查询</li>

                            <a href="http://www.y-peng.com/list-73-1.html" title="更多成人高考分数线" class="more f_r">更多</a>

                            <a href="http://www.y-peng.com/list-70-1.html" title="更多成人高考成绩查询" class="more f_r none">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-73-120-1.html" target="_blank">2015年江苏成人高考录取分数线已公布</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-73-119-1.html" target="_blank">2014年山东成人高校考试招生网上录取最低控制分数线</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-73-118-1.html" target="_blank">2015年北京市成人高校招生录取最低控制分数线</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-73-117-1.html" target="_blank">吉林省2015年成人高校招生录取最低控制分数线</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-73-116-1.html" target="_blank">2015年天津市成人高校招生录取最低控制分数线</a><span>2016-04-13</span></li>

                            
                            
                        </ul>

                    </div>

                    <!--2-->

                    <div class="product">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-70-115-1.html" target="_blank">2015年江苏成人高考成绩查询时间</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-70-114-1.html" target="_blank">2015年浙江成人高考成绩查询时间</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-70-113-1.html" target="_blank">2015年辽宁成人高考成绩查询时间</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-70-112-1.html" target="_blank">2015年广东成人高考成绩查询时间</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-70-111-1.html" target="_blank">2015年北京成人高考成绩查询时间</a><span>2016-04-13</span></li>

                            
                            
                        </ul>

                    </div>

                </div>

            </div>

            <div class="f_r" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">历年真题</li>

                            <li>模拟试题</li>

                            <a href="http://www.y-peng.com/list-74-1.html" title="更多成人高考历年真题" class="more f_r">更多</a>

                            <a href="http://www.y-peng.com/list-75-1.html" title="更多成人高考模拟试题" class="more f_r none">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-74-125-1.html" target="_blank">2014年成人高考高起点数学(文）考试真题</a><span>2016-04-14</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-74-124-1.html" target="_blank">2014年成人高考专升本政治考试真题</a><span>2016-04-14</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-74-123-1.html" target="_blank">2014年成人高考专升本高等数学（2）考试真题</a><span>2016-04-14</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-74-122-1.html" target="_blank">2014年成人高考专升本高等数学（1）考试真题</a><span>2016-04-14</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-74-121-1.html" target="_blank">2014年成人高考专升本大学语文考试真题</a><span>2016-04-14</span></li>

                            
                            
                        </ul>

                    </div>

                    <!--2-->

                    <div class="product">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-75-130-1.html" target="_blank">2015年成人高考专升本大学语文模拟题(4)</a><span>2016-04-14</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-75-129-1.html" target="_blank">2015年成人高考专升本大学语文模拟题(3)</a><span>2016-04-14</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-75-128-1.html" target="_blank">2015年成人高考专升本大学语文模拟题(2)</a><span>2016-04-14</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-75-127-1.html" target="_blank">2015年成人高考专升本大学语文模拟题(1)</a><span>2016-04-14</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-75-126-1.html" target="_blank">成人高考高起点语文模拟题</a><span>2016-04-14</span></li>

                            
                            
                        </ul>

                    </div>

                </div>

            </div>



            <!-- 常见问题 -->
                        <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>常见问题</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

                
                <a href="http://ask.y-peng.com/explore/category-3" target="_blank" class="more f_r">更多</a>

                
            </div>

            <ul class="problembox">

                
                
                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/487" target="_blank">退伍军人参加成人高考要怎么报名？</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>退伍军人报考成人高考的报名方式与普通成教生相同， 不过如果你要申请免试入学的话则需要提前提交相关申请，由所在地的市招生办进行审核，最后由自己填报的成人高校审核后报省招生办公室批准免试申请。  <a href="http://ask.y-peng.com/question/487" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：zwh 回复时间：

                        2016-05-13 10:03:35
                    </div>

                </li>

                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/474" target="_blank">不是艺术生能通过成人高考艺术专业的考试吗？</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>就成人高考本身来说，试题的难度不是很大，只是如果你不是艺术专业的学生，在参加专业课考试的时候可能会有点难度，任何考试是需要付出努力的，只要你肯下功夫，就能考过的，不必太过担心。  <a href="http://ask.y-peng.com/question/474" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：zwh 回复时间：

                        2016-05-13 08:58:57
                    </div>

                </li>

                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/473" target="_blank">艺术成人高考和普通本科有什么区别？</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>两者区别较大，在学习方式、毕业证书、学习时间上都存在巨大差异，就两者最后取得的文凭证书来说，成人高考专升本毕业后由学校颁发毕业证书，证书上注有“成人”二字，但普通高校则为全日制本科毕业证书。  <a href="http://ask.y-peng.com/question/473" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：zwh 回复时间：

                        2016-05-13 08:58:29
                    </div>

                </li>

                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/471" target="_blank">艺术生参加成人高考有没有特殊的规定？</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>无论是哪个专业报考成人高考，要求都是一样的，报考专升本专业的考生必须具有教育部审定核准的国民教育系列高等学校或高等教育自学考试机构颁发的专科以上层次毕业证书，如果说特殊规定的话，可能部分成人高校会对艺术专业的考生进行加试考试，这个具体要看你自己所填报的成人高校有没有这方面的规定。  <a href="http://ask.y-peng.com/question/471" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：zwh 回复时间：

                        2016-05-13 08:57:30
                    </div>

                </li>

                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/470" target="_blank">艺术生参加成人高考有没有限制，什么时候考试?</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>艺术生参加成人高考当然没有限制啊！只要你能通过成人高考考试就能入学就读，目前我国成人高考的报名时间应在每年的8月左右,而成人高考的考试时间为每年的10月的第三个周末，具体时间你可以去你所在省的教育考试院官网查看一下当年所发布的成人高考招生简章。  <a href="http://ask.y-peng.com/question/470" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：zwh 回复时间：

                        2016-05-13 08:56:31
                    </div>

                </li>

                
            </ul>

            <div class="wdbox">

                <a href="http://ask.y-peng.com/" target="_blank">查看更多创建问题 》</a>

                <a href="http://ask.y-peng.com/publish/" class="askbtn" target="_blank">我要提问</a>

                <a href="http://ask.y-peng.com/people/" class="answerbtn" target="_blank">专家答疑</a>

            </div>
        </div>



        <div class="f_r" style="width:300px;">

            <div class="m_top d_b m_bottom">

                                                                <a href="http://www.y-peng.com/school-20-prospectus-5-9.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526040631633.jpg" alt="大连理工大学船舶与海洋工程专升本远程教育招生简章" width="300" height="230"></a>
                                
            </div>

            <div class="m_top d_b m_bottom">

                                                                <a href="http://www.y-peng.com/school-20-prospectus-5-16.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526040809707.jpg" alt="大连理工大学市场营销专升本远程教育招生简章" width="300" height="230"></a>
                                
            </div>



            <!-- 考试大纲 -->

            <div class="tabbox m_top">

                <div class="title">

                    <ul class="title-list">

                        <li class="on">考试大纲</li>

                        <li>政策法规</li>

                        <a href="http://www.y-peng.com/list-76-1.html" title="更多成人高考考试大纲" class="more f_r">更多</a>

                        <a href="http://www.y-peng.com/list-77-1.html" title="更多成人高考政策法规" class="more f_r none">更多</a>

                    </ul>

                </div>

            </div>

            <div class="product-wrap o_f m_bottom">

                <!--1-->

                <div class="product show">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-76-135-1.html" target="_blank">2015年成人高考高起点数学考试大纲</a><span>2016-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-76-134-1.html" target="_blank">2015年成人高考专升本政治考试大纲</a><span>2016-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-76-133-1.html" target="_blank">2014年成人高考高起点语文考试大纲</a><span>2016-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-76-132-1.html" target="_blank">2014年成人高考高起点英语考试大纲</a><span>2016-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-76-131-1.html" target="_blank">2014年成人高考高起点数学考试大纲</a><span>2016-04-14</span></li>

                        
                        
                    </ul>

                </div>

                <!--2-->

                <div class="product">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-77-140-1.html" target="_blank">教育部关于做好2014年成人高考工作的通知</a><span>2016-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-77-139-1.html" target="_blank">2014年起教育部批准外国侨民可参加成考</a><span>2016-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-77-138-1.html" target="_blank">2014年全国成人高校招生办法</a><span>2016-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-77-137-1.html" target="_blank">2016年国家教育部对成人教育学历改革方案</a><span>2016-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-77-136-1.html" target="_blank">成人高考免考政策分析</a><span>2016-04-14</span></li>

                        
                        
                    </ul>

                </div>

            </div>

            <div class="m_top d_b m_bottom">

                                                                <a href="http://www.y-peng.com/school-20-prospectus-5-6.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526040857143.jpg" alt="大连理工大学土木工程专升本远程教育招生简章" width="300" height="230"></a>
                                
            </div>

            <!-- 复习指导 -->

            <div class="tabbox m_top">

                <div class="title">

                    <ul class="title-list">

                        <li class="on">复习指导</li>

                        <li>经验技巧</li>

                        <a href="http://www.y-peng.com/list-71-1.html" title="更多成人高考复习指导" class="more f_r">更多</a>

                        <a href="http://www.y-peng.com/list-72-1.html" title="更多成人高考经验技巧" class="more f_r none">更多</a>

                    </ul>

                </div>

            </div>

            <div class="product-wrap o_f m_bottom">

                <!--1-->

                <div class="product show">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-71-639-1.html" target="_blank">怎么选择成考用书</a><span>2016-05-03</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-71-621-1.html" target="_blank">成人高考数学复习策略</a><span>2016-04-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-71-615-1.html" target="_blank">成人高考复习资料汇总</a><span>2016-04-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-71-611-1.html" target="_blank">成人高考前最后阶段复习重点基础及考试大纲</a><span>2016-04-29</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-71-511-1.html" target="_blank">成人高考高升专数学复习方法</a><span>2016-04-27</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-71-494-1.html" target="_blank">掌握这些学习方法，让你成人英语自学考试通过变轻松</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-71-472-1.html" target="_blank">2016年成人高考复习方法汇总</a><span>2016-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-71-468-1.html" target="_blank">成人高考复习大纲</a><span>2016-04-26</span></li>

                        
                        
                    </ul>

                </div>

                <!--2-->

                <div class="product">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-72-2652-1.html" target="_blank">成人高考专升本问题</a><span>2016-11-09</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-72-2173-1.html" target="_blank">2016成人高考志愿填报的注意事项</a><span>2016-10-22</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-72-802-1.html" target="_blank">成人高考毕业证样本</a><span>2016-05-09</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-72-729-1.html" target="_blank">本科肄业生参加自考不能直接考本科</a><span>2016-05-06</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-72-641-1.html" target="_blank">如何把握成人高考考试时间</a><span>2016-05-03</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-72-640-1.html" target="_blank">做成考考试试题方法</a><span>2016-05-03</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-72-638-1.html" target="_blank">如何利用成人高考考试真题提高成绩</a><span>2016-05-03</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-72-637-1.html" target="_blank">成人高考考试资料</a><span>2016-05-03</span></li>

                        
                        
                    </ul>

                </div>

            </div>



        </div>

        <div style="clear: both;height: 20px;width: 100%;"></div>

    </div>