<div class="current w m o_f">

        <span>当前位置</span>

        <a href="http://www.y-peng.com" target="_blank">育鹏专升本教育信息网</a> &gt;

        <a href="http://www.y-peng.com/list-40-1.html">电大</a>
    </div>

<div class="w m o_f">



        <!-- 幻灯片 -->

        <div class="scrollpic f_l" style="width:496px; margin-left:0;">

            <div id="playBox" style="width:496px;">

                <div class="pre"></div>

                <div class="next"></div>

                <div class="smalltitle" style="width: 100%">

                    <ul><li class="thistitle"></li></ul>

                </div>

                <div class="tempWrap" style="overflow:hidden; position:relative; width:496px"><ul class="oUlplay" style="width: 496px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">

                    
                    
                    
                    <li style="float: left; width: 496px;"><a href="http://www.y-peng.com/" target="_blank" onclick=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526040434869.jpg" width="496" height="361"></a></li>

                   
                   
                </ul></div>

            </div>

        </div>



        <!-- 考试动态 -->

        <div class="f_l" style="width: 362px;margin-left:15px;">

            <div class="tabbox">

                <div class="title">

                    <ul class="title-list">

                        <li class="on">考试动态</li>

                        <li>考试科目</li>

                        <li>考试报名</li>

                        <a href="http://www.y-peng.com/list-93-1.html" title="更多电大考试动态" class="more f_r" style="display: block;">更多</a>

                        <a href="http://www.y-peng.com/list-94-1.html" title="更多电大考试科目" class="more f_r none" style="display: none;">更多</a>

                        <a href="http://www.y-peng.com/list-95-1.html" title="更多电大考试报名" class="more f_r none" style="display: none;">更多</a>

                    </ul>

                </div>

            </div>

            <div class="product-wrap o_f">

                <!--1-->

                <div class="product show">

                    <ul class="ycnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-93-2693-1.html" target="_blank">电大专升本报名时间</a><span>2016-11-09</span></li>

                        
                        
                    </ul>

                </div>

                <!--2-->

                <div class="product" style="display: none;">

                    <ul class="ycnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-94-190-1.html" target="_blank">电大考试留考是什么意思?</a><span>2016-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-94-189-1.html" target="_blank">报考电大拿学士学位要考哪些科目</a><span>2016-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-94-188-1.html" target="_blank">全国各地方电大考试科目试题一样吗</a><span>2016-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-94-187-1.html" target="_blank">电大毕业考试科目有哪些</a><span>2016-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-94-186-1.html" target="_blank">上电大也需要入学考试吗</a><span>2016-04-15</span></li>

                        
                        
                    </ul>

                </div>

                <!--3-->

                <div class="product" style="display: none;">

                    <ul class="ycnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-95-195-1.html" target="_blank">电大网考报名流程</a><span>2016-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-95-194-1.html" target="_blank">电大办学方向吸引考生报名</a><span>2016-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-95-193-1.html" target="_blank">电大有哪些特点吸引在职人员报名</a><span>2016-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-95-192-1.html" target="_blank">电大报考条件</a><span>2016-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-95-191-1.html" target="_blank">电大招生对象有哪些</a><span>2016-04-15</span></li>

                        
                        
                    </ul>

                </div>

            </div>

        </div>



        <div class="f_r">

            <div class="remind" style="margin-top:0;">

                <h2>2016年电大考试时间提醒</h2>

                <p class="Exam_name f_l">考试名称</p>

                <p class="Exam_time f_r">开考日期</p>

                <div class="c_b o_f">

                    <ul class="remindul">

                                                                        
                        <li><a href="http://www.y-peng.com/show-106-104-1.html" target="_blank">2016年山东电大考试时间</a><span>2016-03-12</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-103-1.html" target="_blank">2016年甘肃电大考试时间</a><span>2016-03-06</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-102-1.html" target="_blank">2016年宁夏电大考试时间</a><span>2016-03-06</span></li>

                        
                        
                    </ul>

                </div>

            </div>

        </div>

        <div style="height: 15px;width: 100%;clear: both;"></div>

    </div>

<div class="w m">

        <!-- 远程教育项目概况 -->

        <div class="tabtitle o_f">

            <div class="tabtitle_l f_l"></div>

            <div class="tabtitle_c f_l">

                <h2>电大项目概况</h2>

            </div>

            <div class="tabtitle_r f_l"></div>

        </div>

        <div class="f_l remotely">

            <div class="f_l" style="height: 310px;width: 496px;margin-right: 20px">

                                                                <a href="http://www.y-peng.com/list-40-1.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0405/20160405112349221.jpg" alt="电大" width="496" height="310"></a>
                                
            </div>

            <div>

                <h3>电大项目简介</h3>
<p>电大，全称中央广播电视大学以及地方各级广播电视大学，属于国民教育系列，而且这类型高校是教育部直属高等学校。教学模式主要采用计算机网络、卫星电视等现代传媒技术，通过印刷教材、音像教材、多媒体课件、网络课程等多种教学媒体等进行灵活教学。这类教育模式，招生对象主要就是具有国民高中、大专以上学历的学生。课程学习形式为开放教育，采取宽进严出的形式。电大教育属于国家承认的学历，毕业证书由中央广播电视大学统一发放，在教育部指定的学历查询唯一网站上可以永久可查。学生完成课程学习学校颁发教育部统一印制的高等学历教育毕业证书，由教育部统一电子注册。学历证书与全日制普通大学的本、专科毕业证书同为国民教育系列学历的有效证书。而且本科毕业生达到相关的标准之后，可授予学士学位。</p>
            </div>

        </div>

        <div class="f_r advantage">

            <h3 class="m_top">电大优势</h3>
<ul class="o_f">
	<li>
		<span class="spancolor1">1</span>
		<p>每年招生分春季、秋季2次报名</p>
	</li>
	<li>
		<span class="spancolor2">2</span>
		<p>证书国家承认，教育部电子注册</p>
	</li>
</ul>
<h3>电大劣势</h3>
<ul class="o_f">
	<li>
		<span class="spancolor1">1</span>
		<p>学校知名度低</p>
	</li>
</ul>
        </div>

    </div>

<div class="w m m_top">

        <div class="f_l " style="width:873px;">

            <!-- 分数线 -->

            <div class="f_l" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">准考证</li>
                            <li>分数线</li>
                            <li>成绩查询</li>

                            <a href="http://www.y-peng.com/list-96-1.html" title="更多电大准考证" class="more f_r">更多</a>
                            <a href="http://www.y-peng.com/list-100-1.html" title="更多电大分数线" class="more f_r none">更多</a>
                            <a href="http://www.y-peng.com/list-97-1.html" title="更多电大成绩查询" class="more f_r none">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-96-200-1.html" target="_blank">电大毕业后准考证还有用吗</a><span>2016-04-15</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-96-199-1.html" target="_blank">电大统考准考证在哪下载</a><span>2016-04-15</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-96-198-1.html" target="_blank">电大期末考试的准考证上为什么有两科考试时间</a><span>2016-04-15</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-96-197-1.html" target="_blank">电大考试在哪打印准考证</a><span>2016-04-15</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-96-196-1.html" target="_blank">电大网考需要打印准考证吗</a><span>2016-04-15</span></li>

                            
                            
                        </ul>

                    </div>
                    <div class="product">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-100-210-1.html" target="_blank">电大学校的分数线都一样吗</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-100-209-1.html" target="_blank">电大分数线去哪里查询</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-100-208-1.html" target="_blank">电大分数线高吗</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-100-207-1.html" target="_blank">报考电大分数是多少</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-100-206-1.html" target="_blank">电大分数线是多少</a><span>2016-04-18</span></li>

                            
                            
                        </ul>

                    </div>

                    <!--2-->

                    <div class="product">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-97-205-1.html" target="_blank">电大考试成绩什么时候能查</a><span>2016-04-15</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-97-204-1.html" target="_blank">电大成绩查询网站是哪个</a><span>2016-04-15</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-97-203-1.html" target="_blank">电大成绩怎么查</a><span>2016-04-15</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-97-202-1.html" target="_blank">电大考试成绩查询时间</a><span>2016-04-15</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-97-201-1.html" target="_blank">电大成绩查询平台</a><span>2016-04-15</span></li>

                            
                            
                        </ul>

                    </div>

                </div>

            </div>

            <div class="f_r" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">历年真题</li>

                            <li>模拟试题</li>

                            <a href="http://www.y-peng.com/list-101-1.html" title="更多电大历年真题" class="more f_r">更多</a>

                            <a href="http://www.y-peng.com/list-102-1.html" title="更多电大模拟试题" class="more f_r none">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-101-215-1.html" target="_blank">电大中级财务会计多项选择题真题</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-101-214-1.html" target="_blank">2004年1月电大本科西方经济学计算题和论述题真题</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-101-213-1.html" target="_blank">2004年1月电大本科西方经济学判断题和简答题真题</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-101-212-1.html" target="_blank">2004年1月电大本科西方经济学多项选择题真题</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-101-211-1.html" target="_blank">2004年1月电大本科西方经济学单项选择题真题</a><span>2016-04-18</span></li>

                            
                            
                        </ul>

                    </div>

                    <!--2-->

                    <div class="product">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-102-220-1.html" target="_blank">电大专科基础会计单项选择模拟题</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-102-219-1.html" target="_blank">电大Photoshop图像处理判断模拟题</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-102-218-1.html" target="_blank">电大Photoshop图像处理多项选择模拟试题</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-102-217-1.html" target="_blank">电大Photoshop图像处理单项选择模拟试题</a><span>2016-04-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-102-216-1.html" target="_blank">电大高等数学模拟试题</a><span>2016-04-18</span></li>

                            
                            
                        </ul>

                    </div>

                </div>

            </div>



            <div>

                                                                <a href="javascript:void(0);" onclick="return false;" target="_blank" title=""><img src="http://www.y-peng.com/statics/tp/images/add2.jpg" alt="" width="873" height="128"></a>
                                
            </div>



            <!-- 复习指导 -->

            <div class="f_l" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">复习指导</li>

                            <a href="http://www.y-peng.com/list-98-1.html" title="更多电大复习指导" class="more f_r">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            
                        </ul>

                    </div>

                </div>

            </div>

            <div class="f_r" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">经验技巧</li>

                            <a href="http://www.y-peng.com/list-99-1.html" title="更多电大经验技巧" class="more f_r">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            
                        </ul>

                    </div>

                </div>

            </div>
            
            <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>常见问题</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

                
                <a href="http://ask.y-peng.com/explore/category-5" target="_blank" class="more f_r">更多</a>

                
            </div>

            <ul class="problembox">

                
                
                
            </ul>

            <div class="wdbox">

                <a href="http://ask.y-peng.com/" target="_blank">查看更多创建问题 》</a>

                <a href="http://ask.y-peng.com/publish/" class="askbtn" target="_blank">我要提问</a>

                <a href="http://ask.y-peng.com/people/" class="answerbtn" target="_blank">专家答疑</a>

            </div>
        </div>



        <div class="f_r" style="width:300px;">

            <div class="m_top d_b m_bottom">

                                                                <a href="http://www.y-peng.com/school-20-prospectus-5-7.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526041945537.jpg" alt="大连理工大学土木工程（道桥方向）专升本远程教育招生简" width="300" height="230"></a>
                                
            </div>

            <!-- 考试大纲 -->

            <div class="tabbox m_top">

                <div class="title">

                    <ul class="title-list">

                        <li class="on">考试大纲</li>

                        <li>政策法规</li>

                        <a href="http://www.y-peng.com/list-103-1.html" title="更多电大考试大纲" class="more f_r">更多</a>

                        <a href="http://www.y-peng.com/list-104-1.html" title="更多电大政策法规" class="more f_r none">更多</a>

                    </ul>

                </div>

            </div>

            <div class="product-wrap o_f m_bottom">

                <!--1-->

                <div class="product show">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-103-225-1.html" target="_blank">电大心理学考试大纲各章节复习要点</a><span>2016-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-103-224-1.html" target="_blank">电大心理学考试大纲考试试题的基本题型和所占分数比例</a><span>2016-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-103-223-1.html" target="_blank">电大心理学考试大纲考试命题原则、基本要求与复习方法建</a><span>2016-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-103-222-1.html" target="_blank">电大外国法制史考试大纲考核的内容和要求</a><span>2016-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-103-221-1.html" target="_blank">电大外国法制史考试大纲期末考试说明</a><span>2016-04-18</span></li>

                        
                        
                    </ul>

                </div>

                <!--2-->

                <div class="product">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-104-230-1.html" target="_blank">教育部、中央广播事业局关于电视大学工作会议报告</a><span>2016-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-104-229-1.html" target="_blank">关于电大实施教师网联计划进一步加强和改进教师教育工作</a><span>2016-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-104-228-1.html" target="_blank">教育部关于同意中央广播电视大学基础上建立国家开放大学</a><span>2016-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-104-227-1.html" target="_blank">电大英语、商务英语专业学士学位授予工作实施细则</a><span>2016-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-104-226-1.html" target="_blank">广播电视大学暂行规定</a><span>2016-04-18</span></li>

                        
                        
                    </ul>

                </div>

            </div>

        </div>

        <div style="clear: both;height: 20px;width: 100%;"></div>

    </div>