<div class="current w m o_f">

        <span>当前位置</span>

        <a href="http://www.y-peng.com" target="_blank">育鹏专升本教育信息网</a> &gt; <a href="http://www.y-peng.com/school.html" target="_blank">找学校</a> &gt; <a href="" target="_blank">西南财经大学</a>

    </div>

<div class="w m o_f">

        <!-- 左侧 -->

        <div class="f_l " style="width:873px;">

            <div class="tabtitle o_f c_b">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>西南财经大学专升本项目介绍</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

            </div>

            <div class="o_f m_top">

                <div class="tab_l f_l">

                    
                    <div id="schoolPlayBox">

                        <div class="pre" style="display: none;"></div>

                        <div class="next" style="display: none;"></div>

                        <div class="smalltitle">

                            <ul><li class="thistitle"></li></ul>

                        </div>

                        <div class="tempWrap" style="overflow:hidden; position:relative; width:282px"><ul class="oUlplay" style="width: 282px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">

                            
                            
                            
                            <li style="float: left; width: 282px;">

                                <a href="http://www.y-peng.com/school-39.html" onclick="" target="_blank" title="http://www.y-peng.com/school-39.html"><img src="http://www.y-peng.com/uploadfile/2016/0405/20160405022223369.jpg" alt="西南财经大学专升本" width="282" height="176"></a>

                            </li>

                            
                            
                        </ul></div>

                    </div>

                    
                </div>

                <div class="tab_r f_r">

                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
	<tr>
	<td width="75"><b>学校名称：</b></td>
	<td>西南财经大学</td>
	<td><b>所在地区：</b></td>
	<td>四川省成都市</td>
	</tr>
	<tr>
	<td><b>招生类型：</b></td>
	<td>远程教育、自学考试、成人高考</td>
	<td><b>学校性质：</b></td>
	<td>985、211</td>
	</tr>
	<tr>
	<td><b>招生层次：</b></td>
	<td>专升本、高升专、高升本</td>
	<td><b>学位证书：</b></td>
	<td>西南财经大学学士学位证书</td>
	</tr>
	<tr>
	<td valign="top"><b>项目介绍：</b></td>
	<td align="left" colspan="3">
	<div class="index_txt_content">&nbsp;西南财经大学是以经济学管理为主体、金融学为重点的全国重点大学，也是国家教育体制改革试点高校，被誉为“中国金融人才库”。西南财经大学专升本招生学院有：网络教育学院、远程教育学院等，西南财经大学专升本招生专业有：金融学、 财政学、工商管理、财务管理、市场营销、会计学、行政管理、经济学、投资学、保险、法学等专升本专业。</div>
	<div>&nbsp;</div>
	</td>
	</tr>
</tbody>
</table>
<br>

                </div>

            </div>

            <!-- 网友点评 -->

            <div class="tabtitle o_f m_top m_bottom">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>西南财经大学专升本网友点评</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

                <a href="school-39-dianping-1.html" title="更多西南财经大学专升本网友点评" class="more f_r">更多</a>

            </div>

            <div class="o_f">

                
                <div id="totalPoint" class="comments-score clearfix">

                    
                    <div class="clearfix">

                        <div class="total-score">

                            <strong>5</strong>

                            <div class="star11 biger-star"><em style="width:100%"></em></div>

                        </div>

                        <ul class="comments-level">

                            <li><strong>好评</strong><em>100%</em><span class="rate-bar"><i style="width:100%"></i></span></li>

                            <li><strong>中评</strong><em>0%</em><span class="rate-bar"><i style="width:0%"></i></span></li>

                            <li><strong>差评</strong><em>0%</em><span class="rate-bar"><i style="width:0%"></i></span></li>

                        </ul>

                        <ul class="score-item clearfix">

                            <li><strong>学校名气</strong><span class="star11"><em style="width:100%"></em></span><span class="text">5</span></li>

                            <li><strong>学 费</strong><span class="star11"><em style="width:100%"></em></span><span class="text">5</span></li>

                            <li><strong>课程位置</strong><span class="star11"><em style="width:100%"></em></span><span class="text">5</span></li>

                            <li><strong>专 业</strong><span class="star11"><em style="width:100%"></em></span><span class="text">5</span></li>

                            <li><strong>地理位置</strong><span class="star11"><em style="width:100%"></em></span><span class="text">5</span></li>

                            <li><strong>师 资</strong><span class="star11"><em style="width:100%"></em></span><span class="text">5</span></li>

                        </ul>

                    </div>

                </div>

            </div>

            
            
            <!-- 最新点评 -->

            <div class="m_top m_bottom o_f">

                <h2 class="newsReviews">西南财经大学专升本网友最新点评</h2>

                <ul>

                    
                    <li class="Reviewsli m_bottom">

                        <div class="Reviewsbt">

                            <h5 class="f_l">饶子敬</h5>

                            <span class="f_l">2016-08-20 17:27:47</span>

                            <span class="f_l">满意度：100%</span>

                        </div>

                        <div class="content-inner">

                            <div class="comments-words">

                                <strong class="good">优点：</strong>

                                <p>交通便利</p>

                            </div>

                            <div class="comments-words">

                                <strong class="bad">缺点：</strong>

                                <p>无</p>

                            </div>

                            <div class="comments-words">

                                <strong class="summary">总结：</strong>

                                <p>西南财经大学学校的教育教学质量很高，教师在讲课方面不断创新，让学生很有兴趣学习，校园环境优美，师资力量强大，交通便利，出行很方便。课余活动丰富多彩。</p>

                            </div>

                        </div>

                    </li>

                    
                </ul>

                <a class="more-comments" href="school-39-dianping-1.html#qbdp" title="更多西南财经大学专升本网友点评" target="_blank"><span>查看全部 13 条点评<i class="icon-rarr"></i></span></a>

            </div>

            
            
            <!-- 学校动态 -->

            <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>西南财经大学专升本学校动态</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

                <a href="school-39-dongtai-1.html" title="西南财经大学专升本学校动态" class="more f_r">更多</a>

            </div>

            <div class="o_f m_bottom">

                <ul class="newsul ">

                    
                    
                    
                    <li><a href="school-39-content-2-6839.html" target="_blank">西南财经大学专升本入学手续</a><span>2017-04-01</span></li>

                    
                    <li><a href="school-39-content-2-3762.html" target="_blank">西南财经大学远程教育入学及录取</a><span>2016-08-31</span></li>

                    
                    <li><a href="school-39-content-2-457.html" target="_blank">西南财经大学专升本招生专业目录</a><span>2016-04-27</span></li>

                    
                    
                </ul>

            </div>


            <div class="tabtitle o_f">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>西南财经大学专升本招生简章筛选</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

                <a href="school-39-prospectus-1.html" class="more f_r">更多</a>

            </div>

            <div class="selectNumberScreen">

                <div class="hasBeenSelected">

                    <dl>

                        <dt>您已选择：</dt>

                        <dd style="DISPLAY: none" class="clearDd">

                            <div class="clearList"><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div></div>

                            <div style="DISPLAY: none" class="eliminateCriteria">清除筛选条件</div>

                        </dd>

                    </dl>

                </div>

                <div id="selectList" class="screenBox screenBackground" schoolid="39">

                    <dl class="listIndex" style="height: 35px;">

                        <dt>专业：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                
                            <a class="" href="javascript:;" linkageid="29" linkagename="zhuanyeid"><em>机械工程</em></a>
                                                        
                                                                                                                
                            <a class="" href="javascript:;" linkageid="19" linkagename="zhuanyeid"><em>法学</em></a>
                                                        
                                                                                                                                            
                                                                                                                
                            <a class="" href="javascript:;" linkageid="7" linkagename="zhuanyeid"><em>工商管理</em></a>
                                                        
                                                                                                                                            
                                                                                                                
                            <a class="" href="javascript:;" linkageid="9" linkagename="zhuanyeid"><em>人力资源管理</em></a>
                                                        
                                                                                                                
                            <a class="" href="javascript:;" linkageid="10" linkagename="zhuanyeid"><em>行政管理</em></a>
                                                        
                                                                                                                
                            <a class="" href="javascript:;" linkageid="11" linkagename="zhuanyeid"><em>市场营销</em></a>
                                                        
                                                                                                                
                            <a class="" href="javascript:;" linkageid="13" linkagename="zhuanyeid"><em>会计学</em></a>
                                                        
                                                                                                                
                            <a class="" href="javascript:;" linkageid="14" linkagename="zhuanyeid"><em>财务管理</em></a>
                                                        
                                                                                                                                            
                                                                                                                                            
                                                                                                                
                            <a class="" href="javascript:;" linkageid="5" linkagename="zhuanyeid"><em>经济学</em></a>
                                                        
                                                                                                                                            
                                                                                                                
                            <a class="" href="javascript:;" linkageid="4" linkagename="zhuanyeid"><em>金融学</em></a>
                                                        
                                                                                                                                            
                                                                                                                
                            <a class="" href="javascript:;" linkageid="1" linkagename="zhuanyeid"><em>国际贸易</em></a>
                                                        
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                
                            <a class="" href="javascript:;" linkageid="6" linkagename="zhuanyeid"><em>保险学</em></a>
                                                        
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                            
                            
                        </dd>

                        <div class="smore">

                            <span class="show-more" style="display: inline;">更多 +</span>

                            <span class="show-less">收起 -</span>

                        </div>

                    </dl>

                    <dl class="listIndex">

                        <dt>地区：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                                                                                                                
                            <a class="" href="javascript:;" linkageid="1" linkagename="region"><em>北京</em></a>
                                                        
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                            
                            
                        </dd>

                        <div class="smore">

                            <span class="show-more">更多 +</span>

                            <span class="show-less">收起 -</span>

                        </div>

                    </dl>

                    <dl class="listIndex">

                        <dt>类型：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                            <a class="" href="javascript:;" linkageid="3371" linkagename="typesof"><em>远程教育</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3372" linkagename="typesof"><em>自学考试</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3373" linkagename="typesof"><em>成人高考</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3387" linkagename="typesof"><em>统考专升本</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3388" linkagename="typesof"><em>电大</em></a>

                            
                            
                        </dd>

                        <div class="smore">

                            <span class="show-more">更多 +</span>

                            <span class="show-less">收起 -</span>

                        </div>

                    </dl>

                    <dl class="listIndex">

                        <dt>层次：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                            
                            <a class="" href="javascript:;" linkageid="3367" linkagename="level"><em>专升本</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3368" linkagename="level"><em>高升专</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3369" linkagename="level"><em>高升本</em></a>

                            
                            
                        </dd>

                    </dl>

                </div>

            </div>

            

            <!-- 筛选结果 -->

            <div class="resultbox">

                <span class="f_l">西南财经大学专升本招生简章-筛选结果</span>

                <span class="f_r">符合筛选条件的西南财经大学专升本招生简章共计 <em id="howNum">27</em> 条</span>

            </div>

            <div class="x_table">

                
                
                
                
                <table>

                    <tbody>

                        <tr>

                            <td colspan="7" class="tb_tit"><b>专升本</b></td>

                        </tr>

                        <tr>

                            <th>专业</th>

                            <th>学费</th>

                            <th>层次</th>

                            <th>学制</th>

                            <th>类型</th>

                            <th>学校</th>

                            <th>网上报名</th>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-652.html" title="工程造价" target="_blank">工程造价</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-651.html" title="国际商务" target="_blank">国际商务</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-650.html" title="投资学" target="_blank">投资学</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-649.html" title="法学" target="_blank">法学</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-648.html" title="人力资源管理" target="_blank">人力资源管理</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-647.html" title="行政管理" target="_blank">行政管理</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-646.html" title="经济学" target="_blank">经济学</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-645.html" title="市场营销" target="_blank">市场营销</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-644.html" title="工商管理" target="_blank">工商管理</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-643.html" title="保险" target="_blank">保险</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-642.html" title="财务管理" target="_blank">财务管理</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-641.html" title="会计学" target="_blank">会计学</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-640.html" title="财政学" target="_blank">财政学</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-639.html" title="金融学" target="_blank">金融学</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>专升本</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>专升本</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        

                    </tbody>

                </table>

                
                
                
                
                
                
                <table>

                    <tbody>

                        <tr>

                            <td colspan="7" class="tb_tit"><b>高升专</b></td>

                        </tr>

                        <tr>

                            <th>专业</th>

                            <th>学费</th>

                            <th>层次</th>

                            <th>学制</th>

                            <th>类型</th>

                            <th>学校</th>

                            <th>网上报名</th>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-634.html" title="工程造价" target="_blank">工程造价</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升专</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升专</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-633.html" title="经济信息管理" target="_blank">经济信息管理</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升专</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升专</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-632.html" title="投资与理财" target="_blank">投资与理财</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升专</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升专</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-631.html" title="经济法律事务" target="_blank">经济法律事务</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升专</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升专</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-630.html" title="市场营销" target="_blank">市场营销</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升专</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升专</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-629.html" title="工商企业管理" target="_blank">工商企业管理</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升专</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升专</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-628.html" title="保险实务" target="_blank">保险实务</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升专</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升专</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-627.html" title="会计" target="_blank">会计</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升专</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升专</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-626.html" title="金融管理与实务" target="_blank">金融管理与实务</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升专</li>

                                        <li><span>学制：</span>2.5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升专</td>

                            <td>2.5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        

                    </tbody>

                </table>

                
                
                
                
                
                
                <table>

                    <tbody>

                        <tr>

                            <td colspan="7" class="tb_tit"><b>高升本</b></td>

                        </tr>

                        <tr>

                            <th>专业</th>

                            <th>学费</th>

                            <th>层次</th>

                            <th>学制</th>

                            <th>类型</th>

                            <th>学校</th>

                            <th>网上报名</th>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-638.html" title="工程造价" target="_blank">工程造价</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升本</li>

                                        <li><span>学制：</span>5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升本</td>

                            <td>5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-637.html" title="工商管理" target="_blank">工商管理</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升本</li>

                                        <li><span>学制：</span>5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升本</td>

                            <td>5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-636.html" title="会计学" target="_blank">会计学</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升本</li>

                                        <li><span>学制：</span>5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升本</td>

                            <td>5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        <tr>

                            <td class="hover"><a href="school-39-prospectus-5-635.html" title="金融学" target="_blank">金融学</a>

                                <div class="x_jieshao s12" style="left: 396px; display: none;">

                                    <span class="san"><em class="s1">◆</em><em class="s2">◆</em></span>

                                    <ul>

                                        <li><span>学费：</span>100元/学分</li>

                                        <li><span>层次：</span>高升本</li>

                                        <li><span>学制：</span>5年</li>

                                        <li><span>类型：</span>远程教育</li>

                                        <li><span>学校：</span>西南财经大学</li>

                                    </ul>

                                </div>

                            </td>

                            <td class="red">100元/学分</td>

                            <td>高升本</td>

                            <td>5年</td>
                                                        <td><a href="http://www.y-peng.com/list-36-1.html" target="_blank">远程教育</a></td>

                            <td>西南财经大学</td>

                            <td><a href="school-39-baoming.html">网上报名</a></td>

                        </tr>

                        
                        

                    </tbody>

                </table>

                
                
                
            </div>

            <!-- 专业介绍 -->

            <div class="f_l" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">专业介绍</li>

                            <a href="school-39-intro-1.html" title="更多西南财经大学专升本专业介绍" class="more f_r">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            
                            <li><a href="school-39-content-117-1420.html" target="_blank">西南财经大学法学专升本专业介绍</a><span>2016-06-16</span></li>

                            
                            <li><a href="school-39-content-117-1355.html" target="_blank">西南财经大学汉语言文学专升本专业介绍</a><span>2016-06-15</span></li>

                            
                            <li><a href="school-39-content-117-1354.html" target="_blank">西南财经大学新闻学专升本专业介绍</a><span>2016-06-15</span></li>

                            
                            <li><a href="school-39-content-117-1295.html" target="_blank">西南财经大学市场营销专升本专业介绍</a><span>2016-06-14</span></li>

                            
                            <li><a href="school-39-content-117-673.html" target="_blank">西南财经大学财政学专升本专业介绍</a><span>2016-05-20</span></li>

                            
                            
                        </ul>

                    </div>

                </div>

            </div>

            <div class="f_r" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">报考指南</li>

                            <a href="school-39-zhinan-1.html" title="更多西南财经大学专升本报考指南" class="more f_r">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            
                            <li><a href="school-39-content-7-7137.html" target="_blank">西南财经大学专升本学习兴趣很重要吗</a><span>2017-04-15</span></li>

                            
                            <li><a href="school-39-content-7-7047.html" target="_blank">报名接考西南财经大学专升本考生还有加试吗</a><span>2017-04-13</span></li>

                            
                            <li><a href="school-39-content-7-6977.html" target="_blank">统考西南财经大学专升本和自考区别</a><span>2017-04-08</span></li>

                            
                            <li><a href="school-39-content-7-6817.html" target="_blank">西南财经大学专升本学员规划</a><span>2017-03-31</span></li>

                            
                            <li><a href="school-39-content-7-6787.html" target="_blank">自学报名西南财经大学专升本可采用的报名方式</a><span>2017-03-29</span></li>

                            
                            
                        </ul>

                    </div>

                </div>

            </div>

            <!--校园风貌-->

            <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>西南财经大学校园风貌</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

                <a href="school-39-xiaoyuan-1.html" title="更多西南财经大学校园风貌" class="more f_r">更多</a>

            </div>

            <div class="activity m_top">

                <ul>

                    
                    
                    
                    <li>

                        <div class="activityimg">

                            <a href="school-39-content-8-415.html" target="_blank" class="Scaling_img">

                                <img src="http://www.y-peng.com/uploadfile/2016/0415/20160415035436874.gif" alt="西南财经大学校园景色" width="268" height="167">

                            </a>

                        </div>

                        <h4><a href="school-39-content-8-415.html" target="_blank">西南财经大学校园景色</a></h4>

                    </li>

                    
                    <li>

                        <div class="activityimg">

                            <a href="school-39-content-8-414.html" target="_blank" class="Scaling_img">

                                <img src="http://www.y-peng.com/uploadfile/2016/0415/20160415035053205.gif" alt="西南财经大学体育馆" width="268" height="167">

                            </a>

                        </div>

                        <h4><a href="school-39-content-8-414.html" target="_blank">西南财经大学体育馆</a></h4>

                    </li>

                    
                    <li>

                        <div class="activityimg">

                            <a href="school-39-content-8-413.html" target="_blank" class="Scaling_img">

                                <img src="http://www.y-peng.com/uploadfile/2016/0415/20160415034756668.gif" alt="西南财经大学图书馆" width="268" height="167">

                            </a>

                        </div>

                        <h4><a href="school-39-content-8-413.html" target="_blank">西南财经大学图书馆</a></h4>

                    </li>

                    
                    
                </ul>

            </div>

            <!--师资力量-->

            <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>西南财经大学专升本师资力量</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

                <a href="school-39-teacher-1.html" title="更多西南财经大学专升本师资力量" class="more f_r">更多</a>

            </div>

            <div class="activity m_top">

                <ul>

                    
                    
                    
                    <li>

                        <div class="activityimg">

                            <a href="school-39-content-6-412.html" target="_blank" class="Scaling_img">

                                <img src="http://www.y-peng.com/uploadfile/2016/0415/20160415033919782.gif" alt="马骁" width="268" height="167">

                            </a>

                        </div>

                        <h4><a href="school-39-content-6-412.html" target="_blank">马骁</a></h4>

                    </li>

                    
                    <li>

                        <div class="activityimg">

                            <a href="school-39-content-6-411.html" target="_blank" class="Scaling_img">

                                <img src="http://www.y-peng.com/uploadfile/2016/0415/20160415033715559.gif" alt="蔡春" width="268" height="167">

                            </a>

                        </div>

                        <h4><a href="school-39-content-6-411.html" target="_blank">蔡春</a></h4>

                    </li>

                    
                    <li>

                        <div class="activityimg">

                            <a href="school-39-content-6-410.html" target="_blank" class="Scaling_img">

                                <img src="http://www.y-peng.com/uploadfile/2016/0415/20160415033550554.gif" alt="张宗益" width="268" height="167">

                            </a>

                        </div>

                        <h4><a href="school-39-content-6-410.html" target="_blank">张宗益</a></h4>

                    </li>

                    
                    
                </ul>

            </div>

            <!--交通地图-->

            <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>西南财经大学交通地图</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

            </div>

            <div class="mapbox m_top">

                <div class="map-cont" id="map" style="overflow: hidden; position: relative; z-index: 0; color: rgb(0, 0, 0); text-align: left; background-color: rgb(243, 241, 236);"><div style="overflow: visible; position: absolute; z-index: 0; left: 0px; top: 0px; cursor: url(&quot;http://api0.map.bdimg.com/images/openhand.cur&quot;) 8 8, default;"><div class="BMap_mask" style="position: absolute; left: 0px; top: 0px; z-index: 9; overflow: hidden; -webkit-user-select: none; width: 600px; height: 300px;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;"><span class="BMap_Marker BMap_noprint" unselectable="on" "="" style="position: absolute; padding: 0px; margin: 0px; border: 0px; cursor: pointer; width: 20px; height: 25px; left: 290px; top: 138px; z-index: -6133782; background: url(&quot;http://api0.map.bdimg.com/images/blank.gif&quot;);" title=""></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;"><label class="BMapLabel" unselectable="on" style="position: absolute; display: none; cursor: inherit; border: 1px solid rgb(190, 190, 190); padding: 1px; white-space: nowrap; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: arial, sans-serif; z-index: -20000; color: rgb(190, 190, 190); background-color: rgb(190, 190, 190);">shadow</label></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 400;"><span class="BMap_Marker" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 0px; height: 0px; left: 290px; top: 138px; z-index: -6133782;"><div style="position: absolute; margin: 0px; padding: 0px; width: 20px; height: 25px; overflow: hidden;"><img src="http://api.map.baidu.com/lbsapi/createmap/images/icon.png" style="display: block; border:none;margin-left:-46px; margin-top:-21px; "></div><label class="BMapLabel" unselectable="on" style="position: absolute; display: inline; cursor: inherit; border: 1px solid rgb(255, 0, 0); padding: 1px; white-space: nowrap; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: arial, sans-serif; z-index: 80; -webkit-user-select: none; left: 25px; top: 5px; background-color: rgb(255, 255, 255);">西南财经大学</label></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 300;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;"><div style="position: absolute; overflow: visible; z-index: -100; left: 300px; top: 150px; display: block; transform: translate3d(0px, 0px, 0px);"><img src="http://online3.map.bdimg.com/tile/?qt=tile&amp;x=22615&amp;y=6968&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: -493px; top: -148px; max-width: none; opacity: 1;"><img src="http://online4.map.bdimg.com/tile/?qt=tile&amp;x=22616&amp;y=6968&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: -237px; top: -148px; max-width: none; opacity: 1;"><img src="http://online1.map.bdimg.com/tile/?qt=tile&amp;x=22618&amp;y=6968&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: 275px; top: -148px; max-width: none; opacity: 1;"><img src="http://online0.map.bdimg.com/tile/?qt=tile&amp;x=22616&amp;y=6969&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: -237px; top: -404px; max-width: none; opacity: 1;"><img src="http://online4.map.bdimg.com/tile/?qt=tile&amp;x=22617&amp;y=6967&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: 19px; top: 108px; max-width: none; opacity: 1;"><img src="http://online3.map.bdimg.com/tile/?qt=tile&amp;x=22616&amp;y=6967&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: -237px; top: 108px; max-width: none; opacity: 1;"><img src="http://online2.map.bdimg.com/tile/?qt=tile&amp;x=22615&amp;y=6967&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: -493px; top: 108px; max-width: none; opacity: 1;"><img src="http://online1.map.bdimg.com/tile/?qt=tile&amp;x=22617&amp;y=6969&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: 19px; top: -404px; max-width: none; opacity: 1;"><img src="http://online0.map.bdimg.com/tile/?qt=tile&amp;x=22617&amp;y=6968&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: 19px; top: -148px; max-width: none; opacity: 1;"><img src="http://online4.map.bdimg.com/tile/?qt=tile&amp;x=22615&amp;y=6969&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: -493px; top: -404px; max-width: none; opacity: 1;"><img src="http://online0.map.bdimg.com/tile/?qt=tile&amp;x=22618&amp;y=6967&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: 275px; top: 108px; max-width: none; opacity: 1;"><img src="http://online2.map.bdimg.com/tile/?qt=tile&amp;x=22618&amp;y=6969&amp;z=17&amp;styles=pl&amp;scaler=1&amp;udt=20170428" style="position: absolute; border: none; width: 256px; height: 256px; left: 275px; top: -404px; max-width: none; opacity: 1;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 2; display: none;"><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 0; display: none;"></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 10; display: none;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 3;"></div></div><div class="pano_close" title="退出全景" style="z-index: 1201; display: none;"></div><a class="pano_pc_indoor_exit" title="退出室内景" style="z-index: 1201; display: none;"><span style="float:right;margin-right:12px;">出口</span></a><div class=" anchorBL" style="height: 32px; position: absolute; z-index: 30; bottom: 20px; right: auto; top: auto; left: 1px;"><a title="到百度地图查看此区域" target="_blank" href="http://map.baidu.com/?sr=1" style="outline: none;"><img style="border:none;width:77px;height:32px" src="http://api0.map.bdimg.com/images/copyright_logo.png"></a></div><div id="zoomer" style="position:absolute;z-index:0;top:0px;left:0px;overflow:hidden;visibility:hidden;cursor:url(http://api0.map.bdimg.com/images/openhand.cur) 8 8,default"><div class="BMap_zoomer" style="top:0;left:0;"></div><div class="BMap_zoomer" style="top:0;right:0;"></div><div class="BMap_zoomer" style="bottom:0;left:0;"></div><div class="BMap_zoomer" style="bottom:0;right:0;"></div></div><div unselectable="on" class=" BMap_stdMpCtrl BMap_stdMpType1 BMap_noprint anchorTL" style="width: 37px; height: 97px; bottom: auto; right: auto; top: 10px; left: 10px; position: absolute; z-index: 1100;"><div class="BMap_stdMpPan"><div class="BMap_button BMap_panN" title="向上平移"></div><div class="BMap_button BMap_panW" title="向左平移"></div><div class="BMap_button BMap_panE" title="向右平移"></div><div class="BMap_button BMap_panS" title="向下平移"></div><div class="BMap_stdMpPanBg BMap_smcbg"></div></div><div class="BMap_stdMpZoom" style="height: 42px; width: 37px;"><div class="BMap_button BMap_stdMpZoomIn" title="放大一级"><div class="BMap_smcbg"></div></div><div class="BMap_button BMap_stdMpZoomOut" title="缩小一级" style="top: 21px;"><div class="BMap_smcbg"></div></div><div class="BMap_stdMpSlider" style="height: 0px;"><div class="BMap_stdMpSliderBgTop" style="height: 0px;"><div class="BMap_smcbg"></div></div><div class="BMap_stdMpSliderBgBot"></div><div class="BMap_stdMpSliderMask" title="放置到此级别"></div><div class="BMap_stdMpSliderBar" title="拖动缩放" style="cursor: url(&quot;http://api0.map.bdimg.com/images/openhand.cur&quot;) 8 8, default;"><div class="BMap_smcbg"></div></div></div><div class="BMap_zlHolder"><div class="BMap_zlSt"><div class="BMap_smcbg"></div></div><div class="BMap_zlCity"><div class="BMap_smcbg"></div></div><div class="BMap_zlProv"><div class="BMap_smcbg"></div></div><div class="BMap_zlCountry"><div class="BMap_smcbg"></div></div></div></div><div class="BMap_stdMpGeolocation" style="position: initial; display: none; margin-top: 43px; margin-left: 10px;"><div class="BMap_geolocationContainer" style="position: initial; width: 24px; height: 24px; overflow: hidden; margin: 0px; box-sizing: border-box;"><div class="BMap_geolocationIconBackground" style="width: 24px; height: 24px; background-image: url(http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/bg-20x20.png); background-size: 20px 20px; background-position: 3px 3px; background-repeat: no-repeat;"><div class="BMap_geolocationIcon" style="position: initial; width: 24px; height: 24px; cursor: pointer; background-image: url('http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/success-10x10.png'); background-size: 10px 10px; background-repeat: no-repeat; background-position: center;"></div></div></div></div></div><div unselectable="on" class=" BMap_cpyCtrl BMap_noprint anchorBL" style="cursor: default; white-space: nowrap; color: black; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 15px; font-family: arial, sans-serif; bottom: 2px; right: auto; top: auto; left: 2px; position: absolute; z-index: 10; background: none;"><span _cid="1" style="display: inline;"><span style="background: rgba(255, 255, 255, 0.701961);padding: 0px 1px;line-height: 16px;display: inline;height: 16px;">©&nbsp;2017 Baidu - GS(2015)2650号&nbsp;- Data © 长地万方</span></span></div></div>

                <div class="map-desc">

                    <p><strong>地址：</strong>四川省成都市温江柳台大道555号</p>
<p><strong>乘车路线：</strong><br>
1、西南财经大学，大学城西公交站：309路、752路、771路、温江105路<br>
2、西南财经大学万盛路公交站：309路、752路、771路、温江103路</p>
<p><strong>周边宾馆：</strong>温江贵阁商务酒店、凯丽商务酒店、鑫源商务酒店、成都温江图腾商务酒店、金强华亨酒店、君悦商务宾馆、成都温江杏缘宾馆、蓝鸟宾馆</p>

                </div>

            </div>

            <!-- 常见问题 -->

            
            <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>常见问题</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

                
                <a href="http://ask.y-peng.com/explore/category-74" target="_blank" class="more f_r">更多</a>

                
            </div>

            <ul class="problembox">

                
                
                
            </ul>

            <div class="wdbox">

                <a href="http://ask.y-peng.com/" target="_blank">查看更多创建问题 》</a>

                <a href="http://ask.y-peng.com/publish/" class="askbtn" target="_blank">我要提问</a>

                <a href="http://ask.y-peng.com/people/" class="answerbtn" target="_blank">专家答疑</a>

            </div>
        </div>

        <!-- 右侧 -->

        <div class="f_r" style="width:300px;">
        <span class="rightbtn colorbtn1 m_bottom jscall">报名咨询电话：010-82962882</span>

    <a href="school-39-baoming.html" title="西南财经大学专升本网上报名" class="rightbtn colorbtn2">网上报名</a>

    <!-- 在线咨询 -->

    <div class="tabtitle o_f m_top">

        <div class="tabtitle_l f_l"></div>

        <div class="tabtitle_c f_l">

            <h2>西南财经大学专升本在线咨询</h2>

        </div>

        <div class="tabtitle_r f_l"></div>

    </div>

    <div class="Input_box o_f">

        <form action="http://www.y-peng.com/index.php?m=formguide&amp;c=index&amp;a=show&amp;formid=17&amp;siteid=1" method="post" id="consultation">

            <input type="hidden" name="info[schoolname]" value="西南财经大学">

            <input type="hidden" name="dosubmit" value="提交">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tbody><tr>

                    <td align="right">姓 名：</td>

                    <td width="200">

                        <input type="text" name="info[name]" class="Inputsty"><span style="color:#FF0000;">*</span></td>

                </tr>

                <tr>

                    <td align="right">手 机：</td>

                    <td>

                        <input type="text" name="info[mobile]" class="Inputsty"><span style="color:#FF0000;">*</span></td>

                </tr>

                <tr>

                    <td align="right">邮 箱：</td>

                    <td>

                        <input type="text" name="info[email]" class="Inputsty">

                    </td>

                </tr>

                <tr>

                    <td align="right" valign="top">感兴趣课程：</td>

                    <td>

                        <input type="text" name="info[curriculum]" class="Inputsty"><span style="color:#FF0000;">*</span></td>

                </tr>

                <tr>

                    <td align="right">备 注：</td>

                    <td>

                        <textarea name="yj" cols="20" rows="3" class="Inputtxt"></textarea>

                    </td>

                </tr>

            </tbody></table>

            <button class="submitbtn" type="button">提 交</button>

        </form>

    </div>

    <div class="tabtitle o_f m_top">

        <div class="tabtitle_l f_l"></div>

        <div class="tabtitle_c f_l">

            <h2>专升本证书样本</h2>

        </div>

        <div class="tabtitle_r f_l"></div>

        <a href="school-39-zhengshu-1.html" title="更多西南财经大学专升本证书样本" class="more f_r">更多</a>

    </div>

    <div class="Input_box o_f">

        <ul class="zsbox">

            
            
            
            <li>

                <a href="school-39-content-9-541.html">

                    <img alt="西南财经大学远程教育学士学位证书样本" src="http://www.y-peng.com/uploadfile/2016/0506/20160506044137605.gif" width="280">

                </a>

                <p><a href="school-39-content-9-541.html" title="西南财经大学远程教育学士学位证书样本">西南财经大学远程教育学士学位证书样本</a></p>

            </li>

            
            <li>

                <a href="school-39-content-9-534.html">

                    <img alt="西南财经大学远程教育专升本毕业证书样本" src="http://www.y-peng.com/uploadfile/2016/0506/20160506042149737.gif" width="280">

                </a>

                <p><a href="school-39-content-9-534.html" title="西南财经大学远程教育专升本毕业证书样本">西南财经大学远程教育专升本毕业证书样本</a></p>

            </li>

            
            
        </ul>

    </div>

    <div class="m_top d_b m_bottom">
                                <a href="http://www.y-peng.com/school-20-prospectus-5-16.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526042119691.jpg" alt="大连理工大学市场营销专升本远程教育招生简章" width="300" height="230"></a>
                    </div>

    <!-- 远程教育 -->

    <div class="tabbox m_top">

        <div class="title">

            <ul class="title-list">

                <li class="on">远程教育</li>

                <li>自学考试</li>

                <li>成人高考</li>

            </ul>

        </div>

    </div>

    <div class="product-wrap o_f m_bottom">

        <!--1-->

        <div class="product show">

            <ul class="rightnews">

                                                                <li><a href="school-39-content-118-6583.html" target="_blank">现代主流报考西南财经大学远程教育</a><span>2017-03-21</span></li>
                                <li><a href="school-39-content-118-6477.html" target="_blank">西南财经大学远程教育证书</a><span>2017-03-20</span></li>
                                <li><a href="school-39-content-118-6247.html" target="_blank">西南财经大学远程教育全年报名都可以吗</a><span>2017-03-18</span></li>
                                <li><a href="school-39-content-118-5987.html" target="_blank">西南财经大学远程教育报考专业如何划分</a><span>2017-03-14</span></li>
                                <li><a href="school-39-content-118-5897.html" target="_blank">报名西南财经大学远程教育一年几次机会</a><span>2017-03-13</span></li>
                                
            </ul>

        </div>

        <!--2-->

        <div class="product">

            <ul class="rightnews">
                                                                <li><a href="school-39-content-119-6527.html" target="_blank">西南财经大学自学考试和统考</a><span>2017-03-20</span></li>
                                <li><a href="school-39-content-119-6427.html" target="_blank">西南财经大学自学考试学习期间换工作如何</a><span>2017-03-19</span></li>
                                <li><a href="school-39-content-119-6347.html" target="_blank">西南财经大学自学考试毕业生应有能力</a><span>2017-03-19</span></li>
                                <li><a href="school-39-content-119-6297.html" target="_blank">西南财经大学自学考试学员考试一个月后可以查成绩吗</a><span>2017-03-18</span></li>
                                <li><a href="school-39-content-119-6197.html" target="_blank">采集西南财经大学自学考试学员信息分新人和老人</a><span>2017-03-17</span></li>
                                
            </ul>

        </div>

        <!--3-->

        <div class="product">

            <ul class="rightnews">

                                                                <li><a href="school-39-content-120-3534.html" target="_blank">西南财经大学成人高考本科专业        </a><span>2016-08-06</span></li>
                                <li><a href="school-39-content-120-3430.html" target="_blank">西南财经大学成人高考报考条件</a><span>2016-08-02</span></li>
                                <li><a href="school-39-content-120-2986.html" target="_blank">西南财经大学成人高考专科专业</a><span>2016-07-16</span></li>
                                <li><a href="school-39-content-120-2849.html" target="_blank">西南财经大学成人高考高升本</a><span>2016-07-13</span></li>
                                <li><a href="school-39-content-120-2127.html" target="_blank">西南财经大学成人高考专升本</a><span>2016-06-27</span></li>
                                
            </ul>

        </div>

    </div>

</div>

<div style="height: 1%;clear: both;width: 100%;"></div>
    </div>

<div class="link">
    <div class="tabtitle">
        <div class="tabtitle_l f_l"></div>
        <div class="tabtitle_c f_l">
            <h2>更多四川专升本招生院校推荐</h2>
        </div>
        <div class="tabtitle_r f_l"></div>
        <a href="http://www.y-peng.com/school.html" title="更多专升本招生院校" class="more f_r">更多</a>
    </div>
    <ul class="m_top">
                 
                <li><a href="http://www.y-peng.com/school-34.html" target="_blank">四川大学专升本</a></li>
                <li><a href="http://www.y-peng.com/school-35.html" target="_blank">西南交通大学专升本</a></li>
                <li><a href="http://www.y-peng.com/school-36.html" target="_blank">电子科技大学专升本</a></li>
                <li><a href="http://www.y-peng.com/school-37.html" target="_blank">西南科技大学专升本</a></li>
                <li><a href="http://www.y-peng.com/school-38.html" target="_blank">四川农业大学专升本</a></li>
         
         
    </ul>
</div>

<div class="link">
    <div class="tabtitle">
        <div class="tabtitle_l f_l"></div>
        <div class="tabtitle_c f_l">
            <h2>友情链接</h2>
        </div>
        <div class="tabtitle_r f_l"></div>
    </div>
    <script>
function showlinkdiv()
{
    document.getElementById("linkdiv").style.display="inline"; 
    document.getElementById("linkmore").style.display="none";  
}
</script>
<a href="http://www.singbon.com/jishuzhichi/List_36.html" target="_blank">巡检巡更</a>  <a href="http://www.shidaike.com/huaibei/" target="_blank">淮北分类信息网</a>  <a href="http://www.seo580.com/chaozhou/" target="_blank">潮州培训网</a>  <a href="http://yc.368fanyi.com/" target="_blank">宜春翻译公司</a>  <a href="http://haimen.rzfanyi.com" target="_blank">海门翻译公司</a>  <a style="cursor:pointer;" onclick="javascript:showlinkdiv()" id="linkmore" target="_blank">更多&gt;&gt;</a>
<div id="linkdiv" style="display:none;"></div>




    <ul class="m_top">
                            </ul>
</div>