<div class="current w m o_f">

        <span>当前位置</span>

        <a href="http://www.y-peng.com" target="_blank">育鹏专升本教育信息网</a> &gt;

        <a href="http://www.y-peng.com/list-37-1.html">自学考试</a>
    </div>
<div class="w m o_f">
        <!-- 幻灯片 -->

        <div class="scrollpic f_l" style="width:496px; margin-left:0;">

            <div id="playBox" style="width:496px;">

                <div class="pre"></div>

                <div class="next"></div>

                <div class="smalltitle" style="width: 100%">

                    <ul><li class="thistitle"></li></ul>

                </div>

                <div class="tempWrap" style="overflow:hidden; position:relative; width:496px"><ul class="oUlplay" style="width: 496px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">

                    
                    
                    
                    <li style="float: left; width: 496px;"><a href="http://www.y-peng.com/" target="_blank" onclick=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526040158495.jpg" width="496" height="361"></a></li>

                   
                   
                </ul></div>

            </div>

        </div>



        <!-- 考试动态 -->

        <div class="f_l" style="width: 362px;margin-left:15px;">

            <div class="tabbox">

                <div class="title">

                    <ul class="title-list">

                        <li class="on">考试动态</li>

                        <li>考试科目</li>

                        <li>考试报名</li>

                        <a href="http://www.y-peng.com/list-54-1.html" title="更多自学考试考试动态" class="more f_r">更多</a>

                        <a href="http://www.y-peng.com/list-55-1.html" title="更多自学考试考试科目" class="more f_r none">更多</a>

                        <a href="http://www.y-peng.com/list-56-1.html" title="更多自学考试考试报名" class="more f_r none">更多</a>

                    </ul>

                </div>

            </div>

            <div class="product-wrap o_f">

                <!--1-->

                <div class="product show">

                    <ul class="ycnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-54-5483-1.html" target="_blank">2017年自学考试复习攻略</a><span>2017-05-02</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-54-5482-1.html" target="_blank">自学考试英语复习要注意扩大阅读面</a><span>2017-05-02</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-54-5478-1.html" target="_blank">自学考试如何学能学好</a><span>2017-04-27</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-54-5474-1.html" target="_blank">自学考试解决疑难杂症</a><span>2017-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-54-5470-1.html" target="_blank">自学考试现如今是否受欢迎</a><span>2017-04-25</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-54-5467-1.html" target="_blank">自学考试学校</a><span>2017-04-24</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-54-5466-1.html" target="_blank">自学考试适合在职人员吗</a><span>2017-04-24</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-54-5459-1.html" target="_blank">自学考试注意事项</a><span>2017-04-20</span></li>

                        
                        
                    </ul>

                </div>

                <!--2-->

                <div class="product">

                    <ul class="ycnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-55-5454-1.html" target="_blank">统考自学考试的考试科目</a><span>2017-04-19</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-55-5409-1.html" target="_blank">自学考试有哪些科目</a><span>2017-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-55-5321-1.html" target="_blank">自学考试课程考试科目是固定的吗</a><span>2017-04-08</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-55-5257-1.html" target="_blank">自学考试中的记忆类科目该如何应对</a><span>2017-04-07</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-55-5204-1.html" target="_blank">考试科目：自学考试外语免考</a><span>2017-04-05</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-55-5165-1.html" target="_blank">自学考试考试有哪些科目</a><span>2017-03-31</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-55-4985-1.html" target="_blank">自学考试的专业课程</a><span>2017-03-20</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-55-4873-1.html" target="_blank">怎么查询自学考试的考试科目呢</a><span>2017-03-17</span></li>

                        
                        
                    </ul>

                </div>

                <!--3-->

                <div class="product">

                    <ul class="ycnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-56-5490-1.html" target="_blank">报名自学考试考生暴涨原因</a><span>2017-05-08</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-56-5487-1.html" target="_blank">自学考试申请报名需要统一交材料</a><span>2017-05-03</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-56-5486-1.html" target="_blank">自学考试免试入学可能吗</a><span>2017-05-03</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-56-5479-1.html" target="_blank">报考自学考试准备流程</a><span>2017-04-27</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-56-5471-1.html" target="_blank">参加自学考试学员心态</a><span>2017-04-25</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-56-5458-1.html" target="_blank">备考应届生自学考试能报名吗</a><span>2017-04-20</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-56-5451-1.html" target="_blank">中专生自学考试怎么安排时间</a><span>2017-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-56-5447-1.html" target="_blank">中专毕业自学考试考生考试技巧</a><span>2017-04-18</span></li>

                        
                        
                    </ul>

                </div>

            </div>

        </div>



        <div class="f_r">

            <div class="remind" style="margin-top:0;">

                <h2>2016年自学考试考试时间提醒</h2>

                <p class="Exam_name f_l">考试名称</p>

                <p class="Exam_time f_r">开考日期</p>

                <div class="c_b o_f">

                    <ul class="remindul">

                                                                        
                        <li><a href="http://www.y-peng.com/show-106-31-1.html" target="_blank">2016年10月海南自学考试时间</a><span>2016-10-22</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-30-1.html" target="_blank">2016年4月宁夏自考时间</a><span>2016-04-16</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-29-1.html" target="_blank">2016年4月四川自考时间安排</a><span>2016-04-16</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-28-1.html" target="_blank">2016年10月青海自考时间</a><span>2016-10-22</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-106-27-1.html" target="_blank">2016年7月广东自考时间</a><span>2016-07-02</span></li>

                        
                        
                    </ul>

                </div>

            </div>

        </div>

        <div style="height: 15px;width: 100%;clear: both;"></div>

    </div>


<div class="w m">

        <!-- 远程教育项目概况 -->

        <div class="tabtitle o_f">

            <div class="tabtitle_l f_l"></div>

            <div class="tabtitle_c f_l">

                <h2>自学考试项目概况</h2>

            </div>

            <div class="tabtitle_r f_l"></div>

        </div>

        <div class="f_l remotely">

            <div class="f_l" style="height: 310px;width: 496px;margin-right: 20px">

                                                                <a href="http://www.y-peng.com/list-37-1.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0405/20160405112141601.jpg" alt="自学考试" width="496" height="310"></a>
                                
            </div>

            <div>

                <h3>自学考试简介</h3>
<p>自学考试，全称高等教育自学考试，是国务院批准的高等学历教育形式中的一种。它以学历考试为主，属于高等教育国家考试。主要是个人自学、社会助学和国家考试相结合形式。招生对象不受年龄和已受教育程度的限制，学生不需要参加入学考试，便可根据自己的情况选择相关的专业。一般在每年四月或十月，通过国家组织的统一考试全部科目并成绩合格后，就能申请毕业。课程学习有周末或假期集中授课，属于函授形式，学制长短无限制。实行宽进严出，学生获得的学历证书国家承认，学信网可以查询，含金量高于其他成教学历。而且学生通过毕业论文答辩、学位英语考核达到规定成绩，满足学士学位申请条件的，可申请授予相关专业的成人学士学位。获得证书后还可参加工资定级、人事竞选、考研、职业资格考证以及留学等。</p>
            </div>

        </div>

        <div class="f_r advantage">

            <h3 class="m_top">自学考试优势</h3>
<ul class="o_f">
	<li>
		<span class="spancolor1">1</span>
		<p>无入学考试，高中毕业即可直接入学</p>
	</li>
	<li>
		<span class="spancolor2">2</span>
		<p>重点院校主考，比如：北大、清华、人大</p>
	</li>
	<li>
		<span class="spancolor3">3</span>
		<p>学历国家认可，国外26个国家认可</p>
	</li>
	<li>
		<span class="spancolor4">4</span>
		<p>学费低</p>
	</li>
</ul>
        </div>

    </div>

<div class="w m m_top">

        <div class="f_l " style="width:873px;">

            <!-- 简章筛选 -->

            <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>自学考试-招生简章筛选</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

            </div>

            <div class="selectNumberScreen">

                <div class="hasBeenSelected">

                    <dl>

                      <dt>您已选择：</dt>

                      <dd style="DISPLAY: none" class="clearDd">

                      <div class="clearList"><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div><div class="selectedInfor selectedShow" style="display:none"><span></span><label></label><em></em></div></div>

                      <div style="DISPLAY: none" class="eliminateCriteria">清除筛选条件</div>

                    </dd></dl>

                </div>

                <div id="selectList" class="screenBox screenBackground" typesof="3372">

                    <dl class="listIndex">

                        <dt>学校：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                            
                        </dd>

                        <div class="smore">

                            <span class="show-more">更多 +</span>

                            <span class="show-less">收起 -</span>

                        </div>

                    </dl>

                    <dl class="listIndex">

                        <dt>专业：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                            
                        </dd>

                        <div class="smore">

                            <span class="show-more">更多 +</span>

                            <span class="show-less">收起 -</span>

                        </div>

                    </dl>

                    <dl class="listIndex">

                        <dt>地区：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                                                                                                                
                            
                            
                        </dd>

                        <div class="smore">

                            <span class="show-more">更多 +</span>

                            <span class="show-less">收起 -</span>

                        </div>

                    </dl>

                    <dl class="listIndex">

                        <dt>层次：</dt>

                        <dd>

                            <a href="javascript:void(0)">不限</a>

                            
                            
                            
                            <a class="" href="javascript:;" linkageid="3367" linkagename="level"><em>专升本</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3368" linkagename="level"><em>高升专</em></a>

                            
                            <a class="" href="javascript:;" linkageid="3369" linkagename="level"><em>高升本</em></a>

                            
                            
                        </dd>

                    </dl>

                </div>

            </div>

            <!-- 筛选结果 -->

            <div class="resultbox">

                <span class="f_l">筛选结果</span>

                <span class="f_r">符合筛选条件的自学考试招生简章共计 <em id="howNum">0</em> 条</span>

            </div>

            <div class="x_table">

                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
            </div>



            <!-- 分数线 -->

            <div class="f_l" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">分数线</li>

                            <li>成绩查询</li>

                            <a href="http://www.y-peng.com/list-61-1.html" title="更多自学考试分数线" class="more f_r">更多</a>

                            <a href="http://www.y-peng.com/list-58-1.html" title="更多自学考试成绩查询" class="more f_r none">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-61-4850-1.html" target="_blank">自学考试重点把握考试分数会高吗</a><span>2017-03-17</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-61-4630-1.html" target="_blank">看分数线自学考试学员可以帮助得到申硕机会吗</a><span>2017-03-09</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-61-4525-1.html" target="_blank">查分数线自学考试学员有什么办法呢</a><span>2017-03-07</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-61-4460-1.html" target="_blank">自学考试怎么查分数线</a><span>2017-03-02</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-61-4444-1.html" target="_blank">自学考试分数线是看省份的吗</a><span>2017-03-02</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-61-4404-1.html" target="_blank">自学考试分数线怎么看</a><span>2017-02-28</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-61-4347-1.html" target="_blank">自学考试选学校看分数线吗</a><span>2017-02-24</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-61-1591-1.html" target="_blank">自考本科分数线</a><span>2016-08-25</span></li>

                            
                            
                        </ul>

                    </div>

                    <!--2-->

                    <div class="product">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-58-5463-1.html" target="_blank">自学考试考生录取</a><span>2017-04-21</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-58-5361-1.html" target="_blank">自学考试人员如何在最短时间内取得一个好成绩</a><span>2017-04-12</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-58-5029-1.html" target="_blank">学位申请自学考试考生信息和出生日期对不上怎么办</a><span>2017-03-21</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-58-5007-1.html" target="_blank">机阅自学考试会出错吗</a><span>2017-03-21</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-58-5006-1.html" target="_blank">自学考试通过率如何</a><span>2017-03-21</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-58-4933-1.html" target="_blank">自学考试学员学习分数会提高吗</a><span>2017-03-19</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-58-4912-1.html" target="_blank">自学考试学员考试一个月后可以查成绩吗</a><span>2017-03-18</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-58-4907-1.html" target="_blank">自学考试查成绩渠道</a><span>2017-03-18</span></li>

                            
                            
                        </ul>

                    </div>

                </div>

            </div>

            <div class="f_r" style="width:427px;">

                <div class="tabbox m_top">

                    <div class="title">

                        <ul class="title-list">

                            <li class="on">历年真题</li>

                            <li>模拟试题</li>

                            <a href="http://www.y-peng.com/list-62-1.html" title="更多自学考试历年真题" class="more f_r">更多</a>

                            <a href="http://www.y-peng.com/list-63-1.html" title="更多自学考试模拟试题" class="more f_r none">更多</a>

                        </ul>

                    </div>

                </div>

                <div class="product-wrap o_f m_bottom">

                    <!--1-->

                    <div class="product show">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-62-5282-1.html" target="_blank">自学考试如何利用历年的真题</a><span>2017-04-07</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-62-3372-1.html" target="_blank">2016年自学考试英语（二）真题及答案</a><span>2016-11-28</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-62-80-1.html" target="_blank">2013年自考毛泽东思想、邓小平理论和三个代表重要思想真题</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-62-79-1.html" target="_blank">2013年10月全国自学考试马克思主义基本原理概论真题</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-62-78-1.html" target="_blank">2013年10月全国自学考试思想道德修养与法律基础真题</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-62-77-1.html" target="_blank">2013年10月自学考试综合英语真题</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-62-76-1.html" target="_blank">2013年10月全国自学考试大学语文真题</a><span>2016-04-13</span></li>

                            
                            
                        </ul>

                    </div>

                    <!--2-->

                    <div class="product">

                        <ul class="fsnews">

                            
                            
                            <li><a href="http://www.y-peng.com/show-63-4805-1.html" target="_blank">自学考试自己复习考本科</a><span>2017-03-16</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-63-4463-1.html" target="_blank">自学考试模拟题目相关政治知识</a><span>2017-03-02</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-63-85-1.html" target="_blank">自学考试计算机网络原理模拟试题</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-63-84-1.html" target="_blank">自学考试教育管理原理模拟试题</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-63-83-1.html" target="_blank">高等教育自学考试美学模拟试题</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-63-82-1.html" target="_blank">自学考试管理信息系统模拟试题</a><span>2016-04-13</span></li>

                            
                            <li><a href="http://www.y-peng.com/show-63-81-1.html" target="_blank">自学考试电子商务安全导论模拟试题</a><span>2016-04-13</span></li>

                            
                            
                        </ul>

                    </div>

                </div>

            </div>



            <!-- 常见问题 -->
                        <div class="tabtitle o_f m_top">

                <div class="tabtitle_l f_l"></div>

                <div class="tabtitle_c f_l">

                    <h2>常见问题</h2>

                </div>

                <div class="tabtitle_r f_l"></div>

                
                <a href="http://ask.y-peng.com/explore/category-2" target="_blank" class="more f_r">更多</a>

                
            </div>

            <ul class="problembox">

                
                
                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/1049" target="_blank">自考本科需要考几门</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>自考本科需要几门这个问题无法明确的回答。自学考试本科的专门比较多，每个专业根据学习的需要都会设置相应的课程，每个专业在其考试的，门数之上都不一样。建议直接查询自学考试某专业的门数，或者可以到自考本科的官网查看。  <a href="http://ask.y-peng.com/question/1049" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：yuanhui 回复时间：

                        2016-09-02 09:30:07
                    </div>

                </li>

                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/1048" target="_blank">自考本科需要考多少门</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>自考本科专业考试的门数并非所有的本科专业都是一样的，主要是根据专业学习的需要而设置的相关专业，一般的数量是在10—20门之间。关于自考本科需要考的门数的具体答案无法单一的回答，可以直接表明某个专业的门数。  <a href="http://ask.y-peng.com/question/1048" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：yuanhui 回复时间：

                        2016-09-02 09:29:31
                    </div>

                </li>

                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/1047" target="_blank">自考本科需要几年</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>自考本科需要几年这个问题给予明确的答案。因为自学本科毕业的时间就是学习者所选择的专业所有课程都通过的时间，什么时候考完就什么时候通过。自学考试本科并没有规定确切的专业学制。所以自考本科需要几年是由学习者自己决定的。  <a href="http://ask.y-peng.com/question/1047" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：yuanhui 回复时间：

                        2016-09-01 09:51:31
                    </div>

                </li>

                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/1046" target="_blank">自考本科需要高中毕业证吗</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>自考本科需不需要高中毕业证书是由学习者所报考的专业决定的。自学本科的报考者如果报考的是专升本层次的专业则不需要高中毕业证，需要专科毕业证；而如果报考的是高中起点的专业，例如高升本则需要高中毕业证。  <a href="http://ask.y-peng.com/question/1046" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：yuanhui 回复时间：

                        2016-09-01 09:50:56
                    </div>

                </li>

                
                <li>

                    <div class="m_bottom o_f">

                        <span class="ask f_l">问</span>

                        <div class="asktxt f_l">

                            <h3><a href="http://ask.y-peng.com/question/1045" target="_blank">自考本科需要多长时间</a></h3>

                        </div>

                        <div class="f_r Quantity">

                            <b>1</b> 个回答

                        </div>

                    </div>

                    <div class="o_f">

                        <span class="answer f_l">答</span>

                        <div class="answertxt f_l">

                            <p>自考本科需要的年限时间是根据报考者个人的学习能力以及平时学校的时间来决定的，学校并没有规定的年限，其毕业的时间也就是所有的课程考试通过的时间，也就是说三年考完三年毕业，而八年考完八年毕业。  <a href="http://ask.y-peng.com/question/1045" target="_blank">[ 详情 ]</a></p>

                        </div>

                    </div>

                    <div class="Reply">

                        
                        回复者：yuanhui 回复时间：

                        2016-09-01 09:50:26
                    </div>

                </li>

                
            </ul>

            <div class="wdbox">

                <a href="http://ask.y-peng.com/" target="_blank">查看更多创建问题 》</a>

                <a href="http://ask.y-peng.com/publish/" class="askbtn" target="_blank">我要提问</a>

                <a href="http://ask.y-peng.com/people/" class="answerbtn" target="_blank">专家答疑</a>

            </div>
        </div>



        <div class="f_r" style="width:300px;">

            <div class="m_top d_b m_bottom">

                                                                <a href="http://www.y-peng.com/school-20-prospectus-5-9.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526040631633.jpg" alt="大连理工大学船舶与海洋工程专升本远程教育招生简章" width="300" height="230"></a>
                                
            </div>

            <div class="m_top d_b m_bottom">

                                                                <a href="http://www.y-peng.com/school-20-prospectus-5-16.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526040809707.jpg" alt="大连理工大学市场营销专升本远程教育招生简章" width="300" height="230"></a>
                                
            </div>



            <!-- 考试大纲 -->

            <div class="tabbox m_top">

                <div class="title">

                    <ul class="title-list">

                        <li class="on">考试大纲</li>

                        <li>政策法规</li>

                        <a href="http://www.y-peng.com/list-64-1.html" title="更多自学考试考试大纲" class="more f_r">更多</a>

                        <a href="http://www.y-peng.com/list-65-1.html" title="更多自学考试政策法规" class="more f_r none">更多</a>

                    </ul>

                </div>

            </div>

            <div class="product-wrap o_f m_bottom">

                <!--1-->

                <div class="product show">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-64-4966-1.html" target="_blank">自学考试学员一定要学位证</a><span>2017-03-20</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-64-4517-1.html" target="_blank">自学考试准备期间考试大纲怎么找</a><span>2017-03-07</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-64-4309-1.html" target="_blank">成人自学考试大纲怎么找</a><span>2017-02-21</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-64-90-1.html" target="_blank">自学考试市场营销学-市场竞争战略考试大纲</a><span>2016-04-13</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-64-89-1.html" target="_blank">自考国际金融-国际货币体系考试大纲</a><span>2016-04-13</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-64-88-1.html" target="_blank">自学考试中国法制史-隋唐的法律制度考试大纲</a><span>2016-04-13</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-64-87-1.html" target="_blank">自学考试组织行为学-个体差异与管理考试大纲</a><span>2016-04-13</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-64-86-1.html" target="_blank">2014年自学考试中国税制考试大纲税制概述</a><span>2016-04-13</span></li>

                        
                        
                    </ul>

                </div>

                <!--2-->

                <div class="product">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-65-5410-1.html" target="_blank">参加自学考试要回户籍所在地工作还能接着考试吗</a><span>2017-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-65-5349-1.html" target="_blank">自学考试改革方案</a><span>2017-04-12</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-65-5344-1.html" target="_blank">南京召开自学考试改革方案研讨会</a><span>2017-04-12</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-65-5316-1.html" target="_blank">我国自学考试课程管理政策</a><span>2017-04-08</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-65-5164-1.html" target="_blank">自学考试学员一定要学计算机吗</a><span>2017-03-31</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-65-5110-1.html" target="_blank">自学考试政策调整</a><span>2017-03-25</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-65-5090-1.html" target="_blank">自学考试国家承认吗</a><span>2017-03-24</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-65-5084-1.html" target="_blank">自学考试单科期限</a><span>2017-03-24</span></li>

                        
                        
                    </ul>

                </div>

            </div>

            <div class="m_top d_b m_bottom">

                                                                <a href="http://www.y-peng.com/school-20-prospectus-5-6.html" onclick="" target="_blank" title=""><img src="http://www.y-peng.com/uploadfile/2016/0526/20160526040857143.jpg" alt="大连理工大学土木工程专升本远程教育招生简章" width="300" height="230"></a>
                                
            </div>

            <!-- 复习指导 -->

            <div class="tabbox m_top">

                <div class="title">

                    <ul class="title-list">

                        <li class="on">复习指导</li>

                        <li>经验技巧</li>

                        <a href="http://www.y-peng.com/list-59-1.html" title="更多自学考试复习指导" class="more f_r">更多</a>

                        <a href="http://www.y-peng.com/list-60-1.html" title="更多自学考试经验技巧" class="more f_r none">更多</a>

                    </ul>

                </div>

            </div>

            <div class="product-wrap o_f m_bottom">

                <!--1-->

                <div class="product show">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-59-5475-1.html" target="_blank">语文学好自学考试学员怎么学</a><span>2017-04-26</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-59-5462-1.html" target="_blank">趁早准备自学考试考生胜算大</a><span>2017-04-21</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-59-5455-1.html" target="_blank">学英语自学考试学员复习技巧</a><span>2017-04-19</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-59-5442-1.html" target="_blank">听说读写自学考试考生掌握英语不会成为限制毕业的因素</a><span>2017-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-59-5437-1.html" target="_blank">自学考试能弥补学历低的缺口吗</a><span>2017-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-59-5436-1.html" target="_blank">怎么写作文自学考试学员成绩高</a><span>2017-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-59-5435-1.html" target="_blank">自学考试考生如何完成一篇高分作文</a><span>2017-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-59-5422-1.html" target="_blank">自学考试人员要坚持做题</a><span>2017-04-14</span></li>

                        
                        
                    </ul>

                </div>

                <!--2-->

                <div class="product">

                    <ul class="rightnews">

                        
                        
                        <li><a href="http://www.y-peng.com/show-60-5450-1.html" target="_blank">自学考试自考学员经验</a><span>2017-04-18</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-60-5443-1.html" target="_blank">五点技巧为自学考试学员助考</a><span>2017-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-60-5438-1.html" target="_blank">自学考试高分技巧</a><span>2017-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-60-5434-1.html" target="_blank">用串联要素法自学考试考生学出好文章</a><span>2017-04-15</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-60-5423-1.html" target="_blank">自学考试人员切记不能忽视小题目</a><span>2017-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-60-5420-1.html" target="_blank">自学考试中的语文答题技巧</a><span>2017-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-60-5419-1.html" target="_blank">自学考试人员简单四招通过语文考试</a><span>2017-04-14</span></li>

                        
                        <li><a href="http://www.y-peng.com/show-60-5412-1.html" target="_blank">莫轻信自学考试网上非正规网站好过宣传</a><span>2017-04-14</span></li>

                        
                        
                    </ul>

                </div>

            </div>



        </div>

        <div style="clear: both;height: 20px;width: 100%;"></div>

    </div>